*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: #17a2b8;
    margin-bottom: 10px 0;
    color: white;
}
.header h1{
    font-size: 3vw;
    padding: 30px 0;
}
table td{
    height: 20px;
    width: 20px;
    border: 1px solid black;
}
.reservado {
    background: #3dda16;
}
.bus .col-xl-2 {
    border: 1px solid #17a2b8;
    border-radius: 2px;
}
.bus {
	margin-top: 10px;
	margin-bottom: 10px;
}
.inputDNI {
    padding: 15px 0;
}
.datosPersonles h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 3vw;
}
form .btn {
    margin: 3px 0;
}
.tablaPasajeros div{
    background: #17a2b8;
    padding: 10px 3px;
    color: white;
    border: 1px solid #FFFFFF;
}
#listaPasajeros .row div{
    border: 1px solid #17a2b8;
}